:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D30,D80;
}
.root {}

.timeline {
  position: relative;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.timeline .event {
  position: relative;
  padding-bottom: 30px;
  border-left: 1px solid value(D30);
  display: flex;
  flex-direction: row;
}

.timeline .event:last-child {
  border-left: none;
}

.timeline .event .prefix{
  width: 25px;
  display: inline-block;
}

.timeline .event .prefix .bulletIndicator{
  position: absolute;
  background: value(D30);
  border-radius: 50%;
  height: 7px;
  width: 7px;
  content: "";
  top: 4.5px;
  box-shadow: 0 0 0 5px value(D80);
  left: -4px;
}

.timeline .event .prefix .prefixCustom:first-child{
  position: absolute;
  border-radius: 50%;
  content: "";
  top:-1px;
  box-shadow: 0 0 0 1px value(D80);
  background-color: value(D80);
  left: -12px;
}

.timeline .event .label{
  width: 75%;
  display: inline-block;
  margin-right: 18px;
}

.timeline .event .labelText{
  margin-right: 6px;
}

.timeline .event .suffix{
  width: 25%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-top: 3px;
}

.timeline .event .labelAction{
  display: inline-block;
}
